<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
  <test thread-count="5" name="Test">
    <classes>
		<class name="BestBuyUtils.SetCommonfunction"/>
		<class name="BestBuyUtils.WrappersBestBuy"/>
		<class name="BestBuyUtils.Reports"/>
      <class name="BestBuyUtils.BrowserLink"/>
      <class name="BestBuyTests.BestBuyTests"/>
      
    </classes>
  </test> 
</suite>